* {
  text-align: center;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  
  background-color: black;
}

.side {
  height: 25vh;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: auto;
  position: absolute;
  border-radius: 0% 0% 0% 50%;
}

.side .title {
  color: greenyellow;
  font-family: 'IBM Plex Sans', monospace;
  font-size: 4vh;
  margin: 0px 15vw;
  width: 70vw;

}

#left-side {
  background-color: black;
  z-index: 2;
  
}

#right-side {
  background-color: blueviolet;
  z-index: 1;
  
}
.header {
  z-index: 4;
  color: white;
  text-align: center;
  font-family: 'Righteous', monospace;
  margin-top: 3px;
  margin-left: 3px;
  position: absolute;
  font-size: 5vw;
}