* {
  text-align: center;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  
  background-color: black;
}

.side {
  height: 25vh;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: auto;
  position: absolute;
  border-radius: 10px;
}

.side .title {
  color: white;
  font-family: 'Raleway', monospace;
  font-size: 4vw;
  margin: 0px 15vw;

}

#left-side {
  background-color: darkgray;
  z-index: 2;
  width: 40vw;
}

#right-side {
  background-color: lightblue;
  z-index: 1;
  width: 40vw;
}
.header {
  z-index: 4;
  color: white;
  text-align: center;
  font-family: 'Karla', monospace;
  margin-top: 60vh;
  font-size: 4vw;
}